In [3]:
import pandas as pd
p=[4, 8, 15, 16, 23, 42]

ps= pd.Series(p)
print(ps)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
p=[4, 8, 15, 16, 23, 42, 35, 20, 36, 25]

ps= pd.Series(p)
print(ps)

0     4
1     8
2    15
3    16
4    23
5    42
6    35
7    20
8    36
9    25
dtype: int64

In [5]:
d={'Name':["Alice","Bob","Clarie"],'Age':[25,30,27],'Gender':["Female","Male","Female"]}
df=pd.DataFrame(d)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Clarie   27  Female

DataFrame is a 2-dimensional labeled data structure with columns of potentially different types.A Series only has one data column, whereas a single-column DataFrame contains both a data column and an index.

copy,duplicate and

In [8]:
import pandas as pd
 
 
# creating a dataframe object
student_register = pd.DataFrame()
 
# assigning values to the
# rows and columns of the
# dataframe
student_register['Name'] = ['Abhijit',
                            'Smriti',
                            'Akash',
                            'Roshni']
 
student_register['Age'] = [20, 19, 20, 14]
student_register['Student'] = [False, True,
                               True, False]
 
student_register

new_person = pd.Series(['Mansi', 19, True],
                       index = ['Name', 'Age',
                                'Student'])
 
# using the .append() function
# to add that row to the dataframe
student_register.append(new_person, ignore_index = True)
student_register

C:\Users\pulkitj\AppData\Local\Temp\ipykernel_27544\3531887430.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  student_register.append(new_person, ignore_index = True)

      Name  Age  Student
0  Abhijit   20    False
1   Smriti   19     True
2    Akash   20     True
3   Roshni   14    False

Which of the following is mutable in nature Series, DataFrame, Panel?
Series is immutable else all are mutable

In [9]:
a=pd.Series([25,83,34])
N=pd.Series(["mr","ar","tr"])

df1= pd.DataFrame({'name':N,'age':a})

print(df1)

  name  age
0   mr   25
1   ar   83
2   tr   34